extends layout
block content 
    h1= title
    form(method='POST')
        div.form-group
        label(for='item_id') Item ID:
        input#item_id.form-control(type='text', name='item_id', value=item._id, readonly)
        div.form-group
        label(for='item_name') Item Name:
        input#item_name.form-control(type='text', name='item_name', value=item.name, readonly)
        div.form-group
        label(for='item_price') Item Price:
        input#item_price.form-control(type='text', name='item_price', value=item.price, readonly)
        div.form-group
        label(for='item_stock') Item Stock:
        input#item_stock.form-control(type='text', name='item_stock', value=item.stock, readonly)
        button.btn.btn-danger(type='submit') Delete Item